@charset "UTF-8";

body {    
    color: #4D4B47;
}
.content-main {
    margin-top:0;
    margin-bottom: 0;
}
.content-first-p {
    margin-top:0px;
    position: relative;
    width: 944px;
}
.pic-first-small {
    position: absolute;
    width: 153px;
    height: 92px;
    top:409px;
    left: 567px;
}
.cap-para {
    position: absolute;
    left: 528px;
    bottom:114px;
    text-align: left;
}
.content-second-p {
    margin-top: 57px;
    margin-bottom: 0px;
}
.bubble {
    z-index: 1;
    position: relative;
    display: inline-block;
    width: 380px; 
    text-align: center;
    padding: 25px;
    background-color: #EAEAE9;
    top: -200px;
    left:10px;
    background: rgba(0,0,0,0.1);
    color: #4D4B47;
    font: Bold 21px/24px 'Noto Sans JP';
}
.bubble:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    border-style: solid;
    border-color: #EAEAE9 transparent;
    border-width: 0px 25px 25px 0px;
    top: -25px;
    left: 80%;
    margin-left: -10px;
}