@charset "UTF-8";

html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    /*color: #432;*/
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 944px;
    margin: 0 auto; /*margin: 0 168px; 水平方向中央 */
    /*padding: 0 4%;*/
}
.page-header {
    display: flex;
    justify-content: space-between;
    margin-top: 21px
}
nav {
    margin-top: 25px;
}
.logo {
    width: 63px;
    height: 41px;
}
.main-nav {
    display: flex;
    font: normal normal 600 11px/15px Noto Sans;
    color: #707070;
    list-style: none;
    opacity: 0.5;
}
.main-nav li {
    margin-left: 60px;
}
.main-nav li a {
    color: #707070;
}
.main-nav a:hover {
    border-bottom: 1px solid #A09D98;
}
.main-navi-current a{    
    border-bottom: 1px solid #A09D98;
}
.content-main {
    margin-top:192px;
    margin-bottom: 160px;
    text-align: center; /* 水平方向中央 */
}
.content-main h2 {
    font: normal normal Bold 26px/36px 'Noto Sans JP', sans-serif;
    color:#707070;
    margin-bottom: 36px;
}
.content-main-img{
    width: 238px;
    height: 142px;
    margin-bottom: 70px;
}
.content-main p {
    font-size: 18px;
    line-height: 34px;
    font-family: 'Noto Sans JP', sans-serif;
    color:#4D4B47;    
}
footer{
    line-height: 132px;
    background: #A09D98;
    width: 100%;
    text-align: center;
    position: relative;
}
footer .logo-footer {
    vertical-align: middle;
}